*{
    margin: 0;
    padding: 0;
    
   
}
body{
    background-image: url("https://images.alphacoders.com/968/968167.png");
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
    

.titulo{
    font-family: Arial, Helvetica, sans-serif;
    color: #c9921c;
    text-align: center;
    margin-bottom: 2em;

}

#check{
    display: inline-block;
}
fieldset{
    border: 0;

}
form{
    background-color: rgba(255, 255, 255, 0.651);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #252525;
    margin: auto;
    margin-top: 10em;
    margin-bottom: 10em;
    justify-content: center;
    padding: 50px 50px 50px 50px;
    border: 10px;
    align-items:center;
    max-width: max-content;
    min-width: auto;
    box-shadow:2px 2px 0px rgba(0, 0, 0, 0.507);
    border-radius: 10px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    
    
}
input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #252525;
    border-radius: 5px;
}
.campo{
    margin-bottom: 1em;
}
.campo label{
    margin-bottom: 0.2em;
    color: #252525;
    display: block;

}
fieldset.grupo .campo{
    float: left;
    margin-right: 1em;

}
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #252525;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.rede {
    display: block;
    margin-top: 15px;
}
.form-group.div {
    padding: 0.4em;
}

.icon {
    padding: 0.2em;
    border: 1px solid #252525;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    box-sizing: border-box;
    display: table-cell;
    vertical-align:top;
    margin-bottom: 15px;
    font-size:1em ;
}
    
.campo select option{
    padding-right: 1em;
}
.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #e7e7e7;

}
.botao{
    font-size: 1.2em;
    background: #c9921c;
    border: 0;
    margin-bottom: 1em;
    color: white;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px, 1px, 1px rgba(0,0,0,0.5);
    position: relative;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);

}
.botao:hover {
    background: #c9921c;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;

}
.botao, select{
    cursor: pointer;
}